<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blog.blog.com.mapper.adminsMapper">
  <resultMap id="BaseResultMap" type="blog.blog.com.entity.Admins">
    <id column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="admin_name" jdbcType="VARCHAR" property="adminName" />
    <result column="admin_pass" jdbcType="VARCHAR" property="adminPass" />
  </resultMap>




  <sql id="Base_Column_List">
    admin_id, admin_name, admin_pass
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from admins
    where admin_id = #{adminId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admins
    where admin_id = #{adminId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="blog.blog.com.entity.Admins">
    insert into admins (admin_id, admin_name, admin_pass
      )
    values (#{adminId,jdbcType=INTEGER}, #{adminName,jdbcType=VARCHAR}, #{adminPass,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="blog.blog.com.entity.Admins">
    insert into admins
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="adminName != null">
        admin_name,
      </if>
      <if test="adminPass != null">
        admin_pass,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="adminName != null">
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminPass != null">
        #{adminPass,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="blog.blog.com.entity.Admins">
    update admins
    <set>
      <if test="adminName != null">
        admin_name = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminPass != null">
        admin_pass = #{adminPass,jdbcType=VARCHAR},
      </if>
    </set>
    where admin_id = #{adminId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="blog.blog.com.entity.Admins">
    update admins
    set admin_name = #{adminName,jdbcType=VARCHAR},
      admin_pass = #{adminPass,jdbcType=VARCHAR}
    where admin_id = #{adminId,jdbcType=INTEGER}
  </update>
  <select id="isLogin" parameterType="blog.blog.com.entity.Admins" resultType="blog.blog.com.entity.Admins">
    select
     <include refid="Base_Column_List" />
    from  admins where  admin_name = #{adminName} and
    admin_pass = #{adminPass}

  </select>






</mapper>